
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgb(0,0,0,0.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #333;
}

    nav ul {
        display: flex;
        margin-right: 0%;
    }

        nav a {
            height: 40px;
            line-height: 30px;
            margin-top: 20px;
            padding: 5px 30px;
            display: flex;
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            transition: 0.6s ease-out;
        }

            nav a:hover {
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                color: #fff;
                box-shadow: 2px 5px 20px rgba(255, 255, 255, 0.8);
            }

.active {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.8);
}

.rightbot {
    position: absolute;
    top: 95%;
    right: 16px;
    font-size: 14px;
}

.it {
    justify-content: center !important;
    align-items: center !important;
    position: relative;
}

.bag {
    background-color: #666;
}

.bag1 {
    background-color: #555;
}

footer .foot{
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer{
    background-color: #555;
    width: 100%;
    color: #fff;
}
